[submodule "src/wrap-secp256k1/secp256k1"]
    path = src/fork-secp256k1/secp256k1
    url = https://github.com/tagion/fork-secp256k1-zkp.git
[submodule "src/wrap-nng/nng"]
    path = src/fork-nng/nng
    url = https://github.com/tagion/fork-nng.git
[submodule "bdd/tagion/testbench/tvm/testsuite"]
    path = bdd/tagion/testbench/tvm/testsuite
    url = https://github.com/WebAssembly/testsuite.git
