[submodule "src/wrap-secp256k1/secp256k1"]
    path = src/fork-secp256k1/secp256k1
    url = git@github.com:tagion/fork-secp256k1.git
[submodule "src/wrap-openssl/openssl"]
    path = src/fork-openssl/openssl
    url = git@github.com:tagion/fork-openssl.git
[submodule "src/wrap-p2pgowrapper/p2pwrapper"]
    path = src/wrap-p2pgowrapper/p2pwrapper
    url = git@github.com:tagion/p2pgowrapper.git
[submodule "src/wrap-wolfssl/wolfssl"]
    path = src/fork-wolfssl/wolfssl
    url = git@github.com:tagion/fork-wolfssl.git

[submodule "src/wrap-nng/nng"]
    path = src/fork-nng/nng
    url = git@github.com:tagion/fork-nng.git
[submodule "bdd/tagion/testbench/tvm/testsuite"]
    path = bdd/tagion/testbench/tvm/testsuite
    url = git@github.com:WebAssembly/testsuite.git
