[Unit]
Description="decard dart api service"
After=network.target

[Service]
WorkingDirectory=%h/.local/share/dart_api/
ExecStart=%h/.local/share/dart_api/vibed2-project
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
