/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4F36E3;
  --ifm-color-primary-dark: #4D2DB4;
  --ifm-color-primary-darker: #3F0B81;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #55FFA6;
  --ifm-color-primary-lighter: #00B6C1;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #A181FF;
  --ifm-color-primary-dark: #5D3DC4;
  --ifm-color-primary-darker: #6f0faf;
  --ifm-color-primary-darkest: #1c8a7a;
  --ifm-color-primary-light: #55FFAA;
  --ifm-color-primary-lighter: #00BBCC;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}
