[Unit]
Description="Tagion core node"

[Service]
WorkingDirectory=/var/lib/tagion/wave/
User=tagion
ExecStart=/usr/bin/tagion neuewelle /etc/tagion/tagionwave.json --keys /var/lib/tagion/mode0

[Install]
WantedBy=default.target
