[Unit]
Description="Tagion node web proxy"
After=multi-user.target

[Service]
User=tagion
WorkingDirectory=/var/lib/tagion/shell/
ExecStart=/usr/bin/tagion shell
Restart=always
RestartSec=3
MemoryHigh=25M
MemoryMax=50M
RuntimeMaxSec=1h

[Install]
WantedBy=default.target
