[Unit]
Description="Test deployment of tagionwave"

[Service]
WorkingDirectory=%h/.local/share/tagion/wave
ExecStart=/%h/.local/share/tagion/wave/run_network.sh
Restart=no
RestartSec=30

[Install]
WantedBy=default.target
