[Unit]
Description="Test deployment of tagionwave"

[Service]
WorkingDirectory=%h/.local/share/tagion/wave
ExecStart=cat %h/.local/share/tagion/wallets/keys.txt | %h/.local/share/bin/tagion neuewelle --keys %h/.local/share/tagion/wallets
Restart=no
RestartSec=30

[Install]
WantedBy=default.target
